@{
    ViewData["Title"] = "Home";
}

<div class="slider-container rev_slider_wrapper" style="height: 670px;">
    <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 670, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
        <ul>
            <li class="slide-overlay" data-transition="fade">
                <img src="~/img/slides/img-01.jpg"
                     alt=""
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     class="rev-slidebg">

                <div class="tp-caption"
                     data-x="center" data-hoffset="['-170','-170','-170','-350']"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="1000"
                     data-transform_in="x:[-300%];opacity:0;s:500;"
                     data-transform_idle="opacity:0.2;s:500;"><img src="~/img/slides/slide-title-border.png" alt=""></div>

                <div class="tp-caption text-color-light font-weight-normal"
                     data-x="center"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="700"
                     data-fontsize="['16','16','16','40']"
                     data-lineheight="['25','25','25','45']"
                     data-transform_in="y:[-50%];opacity:0;s:500;">WE WORK HARD AND PORTO HAS</div>

                <div class="tp-caption"
                     data-x="center" data-hoffset="['170','170','170','350']"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="1000"
                     data-transform_in="x:[300%];opacity:0;s:500;"
                     data-transform_idle="opacity:0.2;s:500;"><img src="~/img/slides/slide-title-border.png" alt=""></div>

                <div class="tp-caption font-weight-extra-bold text-color-light negative-ls-1"
                     data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                     data-x="center"
                     data-y="center"
                     data-fontsize="['50','50','50','90']"
                     data-lineheight="['55','55','55','95']">THE BEST DESIGN</div>

                <div class="tp-caption font-weight-light ws-normal text-center"
                     data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                     data-x="center"
                     data-y="center" data-voffset="['60','60','60','105']"
                     data-width="['530','530','530','1100']"
                     data-fontsize="['18','18','18','40']"
                     data-lineheight="['26','26','26','45']"
                     style="color: #b5b5b5;">Trusted by over <strong class="text-color-light">30,000</strong> satisfied users, Porto is a huge success in the one of largest world's MarketPlace.</div>

            </li>

            <li class="slide-overlay" data-transition="fade">
                <img src="~/img/slides/img-02.jpg"
                     alt=""
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     class="rev-slidebg">

                <div class="tp-caption"
                     data-x="center" data-hoffset="['-170','-170','-170','-350']"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="1000"
                     data-transform_in="x:[-300%];opacity:0;s:500;"
                     data-transform_idle="opacity:0.2;s:500;"><img src="~/img/slides/slide-title-border.png" alt=""></div>

                <div class="tp-caption text-color-light font-weight-normal"
                     data-x="center"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="700"
                     data-fontsize="['16','16','16','40']"
                     data-lineheight="['25','25','25','45']"
                     data-transform_in="y:[-50%];opacity:0;s:500;">WE WORK HARD AND PORTO HAS</div>

                <div class="tp-caption"
                     data-x="center" data-hoffset="['170','170','170','350']"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="1000"
                     data-transform_in="x:[300%];opacity:0;s:500;"
                     data-transform_idle="opacity:0.2;s:500;"><img src="~/img/slides/slide-title-border.png" alt=""></div>

                <div class="tp-caption font-weight-extra-bold text-color-light negative-ls-1"
                     data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                     data-x="center"
                     data-y="center"
                     data-fontsize="['50','50','50','90']"
                     data-lineheight="['55','55','55','95']">THE BEST DESIGN</div>

                <div class="tp-caption font-weight-light ws-normal text-center"
                     data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                     data-x="center"
                     data-y="center" data-voffset="['60','60','60','105']"
                     data-width="['530','530','530','1100']"
                     data-fontsize="['18','18','18','40']"
                     data-lineheight="['26','26','26','45']"
                     style="color: #b5b5b5;">Trusted by over <strong class="text-color-light">30,000</strong> satisfied users, Porto is a huge success in the one of largest world's MarketPlace.</div>

            </li>

            <li class="slide-overlay" data-transition="fade">
                <img src="~/img/slides/img-03.jpg"
                     alt=""
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     class="rev-slidebg">

                <div class="tp-caption"
                     data-x="center" data-hoffset="['-170','-170','-170','-350']"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="1000"
                     data-transform_in="x:[-300%];opacity:0;s:500;"
                     data-transform_idle="opacity:0.2;s:500;"><img src="~/img/slides/slide-title-border.png" alt=""></div>

                <div class="tp-caption text-color-light font-weight-normal"
                     data-x="center"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="700"
                     data-fontsize="['16','16','16','40']"
                     data-lineheight="['25','25','25','45']"
                     data-transform_in="y:[-50%];opacity:0;s:500;">WE WORK HARD AND PORTO HAS</div>

                <div class="tp-caption"
                     data-x="center" data-hoffset="['170','170','170','350']"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="1000"
                     data-transform_in="x:[300%];opacity:0;s:500;"
                     data-transform_idle="opacity:0.2;s:500;"><img src="~/img/slides/slide-title-border.png" alt=""></div>

                <div class="tp-caption font-weight-extra-bold text-color-light negative-ls-1"
                     data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                     data-x="center"
                     data-y="center"
                     data-fontsize="['50','50','50','90']"
                     data-lineheight="['55','55','55','95']">THE BEST DESIGN</div>

                <div class="tp-caption font-weight-light ws-normal text-center"
                     data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                     data-x="center"
                     data-y="center" data-voffset="['60','60','60','105']"
                     data-width="['530','530','530','1100']"
                     data-fontsize="['18','18','18','40']"
                     data-lineheight="['26','26','26','45']"
                     style="color: #b5b5b5;">Trusted by over <strong class="text-color-light">30,000</strong> satisfied users, Porto is a huge success in the one of largest world's MarketPlace.</div>

            </li>

            <li class="slide-overlay" data-transition="fade">
                <img src="~/img/slides/img-04.jpg"
                     alt=""
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     class="rev-slidebg">

                <div class="tp-caption"
                     data-x="center" data-hoffset="['-170','-170','-170','-350']"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="1000"
                     data-transform_in="x:[-300%];opacity:0;s:500;"
                     data-transform_idle="opacity:0.2;s:500;"><img src="~/img/slides/slide-title-border.png" alt=""></div>

                <div class="tp-caption text-color-light font-weight-normal"
                     data-x="center"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="700"
                     data-fontsize="['16','16','16','40']"
                     data-lineheight="['25','25','25','45']"
                     data-transform_in="y:[-50%];opacity:0;s:500;">WE WORK HARD AND PORTO HAS</div>

                <div class="tp-caption"
                     data-x="center" data-hoffset="['170','170','170','350']"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="1000"
                     data-transform_in="x:[300%];opacity:0;s:500;"
                     data-transform_idle="opacity:0.2;s:500;"><img src="~/img/slides/slide-title-border.png" alt=""></div>

                <div class="tp-caption font-weight-extra-bold text-color-light negative-ls-1"
                     data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                     data-x="center"
                     data-y="center"
                     data-fontsize="['50','50','50','90']"
                     data-lineheight="['55','55','55','95']">THE BEST DESIGN</div>

                <div class="tp-caption font-weight-light ws-normal text-center"
                     data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                     data-x="center"
                     data-y="center" data-voffset="['60','60','60','105']"
                     data-width="['530','530','530','1100']"
                     data-fontsize="['18','18','18','40']"
                     data-lineheight="['26','26','26','45']"
                     style="color: #b5b5b5;">Trusted by over <strong class="text-color-light">30,000</strong> satisfied users, Porto is a huge success in the one of largest world's MarketPlace.</div>

            </li>

            <li class="slide-overlay" data-transition="fade">
                <img src="~/img/slides/img-05.jpg"
                     alt=""
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     class="rev-slidebg">

                <div class="tp-caption"
                     data-x="center" data-hoffset="['-170','-170','-170','-350']"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="1000"
                     data-transform_in="x:[-300%];opacity:0;s:500;"
                     data-transform_idle="opacity:0.2;s:500;"><img src="~/img/slides/slide-title-border.png" alt=""></div>

                <div class="tp-caption text-color-light font-weight-normal"
                     data-x="center"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="700"
                     data-fontsize="['16','16','16','40']"
                     data-lineheight="['25','25','25','45']"
                     data-transform_in="y:[-50%];opacity:0;s:500;">WE WORK HARD AND PORTO HAS</div>

                <div class="tp-caption"
                     data-x="center" data-hoffset="['170','170','170','350']"
                     data-y="center" data-voffset="['-50','-50','-50','-75']"
                     data-start="1000"
                     data-transform_in="x:[300%];opacity:0;s:500;"
                     data-transform_idle="opacity:0.2;s:500;"><img src="~/img/slides/slide-title-border.png" alt=""></div>

                <div class="tp-caption font-weight-extra-bold text-color-light negative-ls-1"
                     data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                     data-x="center"
                     data-y="center"
                     data-fontsize="['50','50','50','90']"
                     data-lineheight="['55','55','55','95']">THE BEST DESIGN</div>

                <div class="tp-caption font-weight-light ws-normal text-center"
                     data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                     data-x="center"
                     data-y="center" data-voffset="['60','60','60','105']"
                     data-width="['530','530','530','1100']"
                     data-fontsize="['18','18','18','40']"
                     data-lineheight="['26','26','26','45']"
                     style="color: #b5b5b5;">Trusted by over <strong class="text-color-light">30,000</strong> satisfied users, Porto is a huge success in the one of largest world's MarketPlace.</div>

            </li>
        </ul>
    </div>
</div>

<section class="section section-height-3 bg-color-grey-scale-1 m-0 border-0">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 pb-sm-4 pb-lg-0 pr-lg-5 mb-sm-5 mb-lg-0">
                <h2 class="text-color-dark font-weight-normal text-6 mb-2">Who <strong class="font-weight-extra-bold">We Are</strong></h2>
                <p class="lead">Epyllion Group is a combination of Readymade Garments, Textile & Garments Accessories with the facility of printing, embroidery, washing & laboratory testing. These companies are vertically integrated along with backward linkage. </p>
                <p class="pr-5 mr-5">Epyllion Group started its journey as a house of Readymade Garments (RMG) engaged in manufacturing and exporting of Knit Apparels since 1994 and has been considered today as one of the biggest conglomerates with substantial establishment of its backward linkage of all kinds of knit garments, textile, wet processing & garments accessories. </p>
                <a href="/home/about" class="btn btn-primary font-weight-semibold btn-px-4 btn-py-2 text-2">LEARN MORE</a>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4 offset-sm-4 offset-md-4 offset-lg-2 mt-sm-5" style="top: 1.7rem;">
                <img src="~/img//about-us/about-us-164x148.jpg" class="img-fluid position-absolute d-none d-sm-block appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="300" style="top: 10%; left: -50%;" alt="" />
                <img src="~/img/about-us/about-us-212x186.jpg" class="img-fluid position-absolute d-none d-sm-block appear-animation" data-appear-animation="expandIn" style="top: -33%; left: -29%;" alt="" />
                <img src="~/img/about-us/about-us-318x288.jpg" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="" />
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="800">
                <h3 class="font-weight-bold text-4 mb-2">
                    <i class="fas fa-bullseye text-color-primary"></i>&nbsp; Our Vision
                </h3>
                <p>Our vision is to become a window through which all our interacting parties can see and feel their prospect and dream about their success. Epyllion will become a lifestyle towards its employees, suppliers, buyers and above all shall become a role model of a green corporate house which will be regarded as an icon brand in the country.</p>
            </div>
            <div class="col-md-6 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
                <h3 class="font-weight-bold text-4 mb-2">
                    <i class="fas fa-eye text-color-primary"></i>&nbsp; Our Mission
                </h3>
                <p>Epyllion will be known as an entity whose main driven force is its human resources. With such a motivated, high skilled and professional workforce, Epyllion has started marching towards its glory of success which is not the profit but to enjoy the joy of life.</p>
            </div>
        </div>
    </div>
</section>

<div class="container mb-5 pb-4">

    <div class="row">
        <div class="col mb-4">
            <hr class="my-5">
        </div>
    </div>

    <div class="row pb-3">
        <div class="col-lg-8">
            <h2 class="font-weight-normal text-7">Our <strong class="font-weight-extra-bold">Features</strong></h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-support text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4 mb-0">Customer Support</h4>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-doc text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4 mb-0">HTML5 / CSS3 / JS</h4>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-social-google text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4 mb-0">500+ Google Fonts</h4>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-pencil text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4 mb-0">Colors</h4>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-layers text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4 mb-0">Sliders</h4>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-user text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4 mb-0">Icons</h4>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-menu text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4 mb-0">Buttons</h4>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-screen-desktop text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4 mb-0">Lightbox</h4>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h2 class="font-weight-normal text-6">and more...</h2>

            <div class="accordion accordion-modern" id="accordion">
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle text-color-dark font-weight-bold" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <i class="icons icon-diamond text-color-primary"></i>
                                Creative Websites
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="collapse show">
                        <div class="card-body text-2">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blanorem ipsum dolor sit amet, consecte.</p>
                            <p class="mb-0">Adipiscing elit phasellus blanit ma... <a href="#" class="d-block text-color-dark font-weight-semibold pt-4">read more <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle text-color-dark font-weight-bold" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <i class="icons icon-bubble text-color-primary"></i>
                                Contact Forms
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="collapse">
                        <div class="card-body text-2">
                            <p class="mb-0">Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle text-color-dark font-weight-bold" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <i class="icons icon-grid text-color-primary"></i>
                                Portfolio Pages
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="collapse">
                        <div class="card-body text-2">
                            <p class="mb-0">Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="solid my-5">

    <div class="row text-center pt-4">
        <div class="col">
            <h2 class="word-rotator slide font-weight-bold text-8 mb-2">
                <span>We're not the only ones </span>
                <span class="word-rotator-words bg-primary">
                    <b class="is-visible">excited</b>
                    <b>happy</b>
                </span>
                <span> about Porto Template...</span>
            </h2>
            <h4 class="text-primary lead tall text-4">30,000 CUSTOMERS IN 100 COUNTRIES USE PORTO TEMPLATE. MEET OUR CUSTOMERS.</h4>
        </div>
    </div>

    <div class="row text-center mt-5">
        <div class="owl-carousel owl-theme carousel-center-active-item" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
            <div>
                <img class="img-fluid" src="img/logos/logo-1.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="img/logos/logo-2.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="img/logos/logo-3.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="img/logos/logo-4.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="img/logos/logo-5.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="img/logos/logo-6.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="img/logos/logo-4.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="img/logos/logo-2.png" alt="">
            </div>
        </div>
    </div>

</div>

<section class="section section-custom-map appear-animation" data-appear-animation="fadeInUpShorter">
    <section class="section section-default section-footer">
        <div class="container">
            <div class="row mt-5 appear-animation" data-appear-animation="fadeInUpShorter">
                <div class="col-lg-6">
                    <div class="recent-posts mb-5">
                        <h2 class="font-weight-normal text-6 mb-4"><strong class="font-weight-extra-bold">Latest</strong> Posts</h2>
                        <div class="owl-carousel owl-theme dots-title mb-0" data-plugin-options="{'items': 1, 'autoHeight': true, 'autoplay': true, 'autoplayTimeout': 8000}">
                            <div class="row">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">15</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col pl-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pr-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">14</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col pl-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pr-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">13</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col pl-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pr-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">12</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col pl-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pr-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">11</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col pl-1">
                                                <h4 class="text-primary text-4"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pr-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">10</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col pl-1">
                                                <h4 class="text-primary text-4"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pr-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="font-weight-normal text-6 mb-4"><strong class="font-weight-extra-bold">What</strong> Client’s Say</h2>
                    <div class="row">
                        <div class="owl-carousel owl-theme dots-title dots-title-pos-2 mb-0" data-plugin-options="{'items': 1, 'autoHeight': true}">
                            <div>
                                <div class="col">
                                    <div class="testimonial testimonial-primary">
                                        <blockquote>
                                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.</p>
                                        </blockquote>
                                        <div class="testimonial-arrow-down"></div>
                                        <div class="testimonial-author">
                                            <div class="testimonial-author-thumbnail">
                                                <img src="img/clients/client-1.jpg" class="rounded-circle" alt="">
                                            </div>
                                            <p><strong>John Doe</strong><span>Okler</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col">
                                    <div class="testimonial testimonial-primary">
                                        <blockquote>
                                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.</p>
                                        </blockquote>
                                        <div class="testimonial-arrow-down"></div>
                                        <div class="testimonial-author">
                                            <div class="testimonial-author-thumbnail">
                                                <img src="img/clients/client-1.jpg" class="rounded-circle" alt="">
                                            </div>
                                            <p><strong>John Doe</strong><span>Okler</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
